body {
	margin: 0px;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.navbar li {
	float: left;
	font-size: 24px;
}

.navbar li a, .navbar li p {
	margin: 0px;
	font-size: 18px;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: background-color 150ms ease-in-out;
}

.navbar li:last-child {
	float: right;
}

.navbar li a:hover {
	cursor: pointer;
	background-color: #111;
}

.gamerooms, .buttons {
	box-sizing: border-box;
}

.gamerooms {
	float: left;
	width: 75%;
	height: 100vh;
	background: #ccc;
	overflow: auto;
}

.gamerooms section {
	padding: 25px;
	text-align: right;
}

.gamerooms section .pageSwitch a {
	font-size: 18px;
	padding-left: 15px;
}

.gamerooms section ul {
    display: flex;
    flex-flow: row wrap;
}

.gamerooms section ul li {
	background-color: #f1f1f1;
	width: 25%;
	text-align: center;
	padding: 14px 16px;
	list-style-type: none;
	margin: 14px 16px;
	border: 1px solid black;
}

.gamerooms section ul li p:first-child {
	font-size: 24px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.gamerooms section ul li p {
	margin-top: 0px;
}

.gamerooms section ul li a {
	text-decoration: none;
	font-size: 24px;
	color: white;
	background-color: #4eb572;
	padding: 5px 15px;
	border: 1px solid green;
	cursor: pointer;
	width: 50%;
	font-size: 24px;
	margin: 80px auto;
	transition: background-color 150ms ease-in-out;
}

.gamerooms section ul li a:hover {
	background-color: #88cda0;
}

.gamerooms section:after {
	content: "";
	display: table;
	clear: both;
}

.buttons article {
	float: left;
	width: 25%;
	background-color: #f1f1f1;
	height: 100vh;
	text-align: center;
}

.buttons button {
	background-color: #4eb572;
	border: 1px solid green;
	color: white;
	padding: 10px 24px;
	cursor: pointer;
	width: 50%;
	display: block;
	font-size: 24px;
	margin: 80px auto;
	transition: background-color 150ms ease-in-out;
}

.buttons button a {
	text-decoration: none;
	color: inherit;
}

.buttons button:hover {
	background-color: #88cda0;
}

.buttons button:first-child {
	margin-bottom: 2em;
}

/* ---GAME ROOM--- */


.game section {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	background: #ccc;
	height: 100vh;
	position: relative;
}

.game section .seats {
	display: grid;
	position: absolute;
	height: 650px;
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.game .chair {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: grey;
	display: inline-block;
	text-align: center;
	justify-content: center;
	margin: 5px;
}

.game .chair .chair-name {
	padding-top: 40%;
}

.game .chair .chair-money {
	font-size: 14px;
	padding-top: 5px;
}

.player1,
.player2,
.player3,
.player4,
.player5,
.player6 {
	display: flex;
	flex-flow: row nowrap;
}

.game .player1 {
    padding-left: 10px;
    padding-top: 30px;
}

.game .player2 {
	justify-content: center;
}

.game .player3 {
	justify-content: flex-end;
    padding-right: 10px;
    padding-top: 30px;
}

.game .player4 {
	align-items: flex-end;
    padding-left: 10px;
    padding-bottom: 30px;
}

.game .player5 {
	align-items: flex-end;
	justify-content: center;
}

.game .player6 {
	align-items: flex-end;
	justify-content: flex-end;
	padding-right: 10px;
    padding-bottom: 30px;
}

.game .table {
	background-color: #4aad4a;
	height: 400px;
	width: 700px;
	border-radius: 25%;
	margin: 0 auto;
	border: 1em solid black;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.game .board {
	position: relative;
}

.game .card {
	border: .2em solid black;
	border-radius: 10%;
	height: 70px;
	width: 48px;
	margin-right: 5px;
	float: left;
	background-color: white;
}

.game .card .card-text {
	margin: 0;
	margin-top: 15%;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	padding: 0;
}

.game .card .card-img {
	text-align: center;
	margin: 0;
	font-size: 1.5em;
}

.game .black {
	color: black;
}

.game .red {
	color: red;
}

/* ---AUTHENTICATION PAGES--- */
.authentication body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #111;
}


.authentication .form-group, .authentication h1, .authentication a {
	width: 100%;
	max-width: 500px;
	padding: 15px;
	margin: auto;
}

.authentication .form-group {
	background-color: #f1f1f1;
	padding-bottom: 0px;
}

.authentication .form-group:last-child {
	padding-bottom: 15px;
}

.authentication .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	font-size: 16px;
}

.authentication input[type=text], input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.authentication button[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.authentication button[type=submit]:hover {
  background-color: #45a049;
}

.game .responses {
	height: 12.5vh;
	background-color: #333333;
}

.game .responses ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.game .responses li {
	float: left;
	font-size: 24px;
}

.game .responses li button {
	font-family: Arial;
	margin: 0px;
	font-size: 18px;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: background-color 150ms ease-in-out;
	margin-top: 15px;
	margin-left: 10px;
}

.game .responses li input {
	margin: 0px;
	display: block;
	text-align: center;
	padding: 14px 0px;
	margin-top: 15px;
	margin-left: 10px;
}

.game .responses li:last-child, .game .responses li:nth-last-child(2) {
	float: right;
	margin-right: 10px;
}

.game .responses li a:hover {
	cursor: pointer;
	background-color: #111;
}