extends layout

block content
	div.navbar
		ul
			li
				a Texas Hold 'em
			li 
				a(href="/users/login") Log In

	div.gamerooms
		section
			div.pageSwitch
				- var next = +page+1
				- var last = +page-1
				- var lastPage = Math.floor(+rooms.length/9)
				if page > 0
					a(href="/lobby/" + last) ←
				if page < lastPage
					a(href="/lobby/" + next) →

			ul

				//calculate how many rooms to list out
				- var lastRoom = +rooms.length
				if lastRoom > +page*9+9
					- lastRoom = +page*9+9

				//Spawn rooms (For Loop)
				- for (var i = +page*9; i < lastRoom; ++i) {
					li
						p= 'Game Room ' + rooms[i]
						p (0/8)
						a(href="/games/" + rooms[i]) Join
				- }

	div.buttons
		article
			button
				a(href="/games/42") Play Now
			button Create Room
