extends layout

block content
	div.navbar
		ul
			li
				a Texas Hold 'em
			li 
				a(href="/users/login") Log In

	div.gamerooms
		section Games go here (To be added with Database)

	div.buttons
		article
			button
				a(href="/game/42") Play Now
			button Create Room
