extends layout

block content
	div.navbar
		ul
			li
				a Texas Hold 'em
			li 
				p Welcome #{username}

	div.gamerooms
		section
			div.pageSwitch
				- var next = +page+1
				- var last = +page-1
				- var lastPage = Math.floor(+rooms.length/9)
				if page > 0
					a(href="/lobby/" + last) ←
				if page < lastPage
					a(href="/lobby/" + next) →

			ul

				//calculate how many rooms to list out
				- var lastRoom = +rooms.length
				if lastRoom > +page*9+9
					- lastRoom = +page*9+9

				//Spawn rooms (For Loop)
				- for (var i = +page*9; i < lastRoom; ++i) {
					li
						p= 'Game Room ' + rooms[i]
						p (0/8)
						a(href="/games/" + rooms[i]) Join
				- }

	div.rightArticle
		article
			div.buttons
				button
					a(href="/games/42") Play Now
				button Create Room
			div.log
				div.logContent
					div
						p Player 1 raises $20
					div
						p Player 2 folded
					div
						p Player 3 folded
					div
						p Player 1 won $23
					div
						p Player 1: Thank you!
					div
						p Player 2: ugh...
					div
						p Player 3: ;-;
			form()
				div.chatbox
					input(type='text')


