extends layout

block content
	div.navbar
		ul
			li 
				p Room #{id}
			li 
				a(href="/games/quit") Quit

	div.game
		section
			div.seats
				div.player1
					div.chair
						div.chair-name #{username}
						div.chair-money $100
				div.player2
					div.chair
						div.chair-name Person 2
						div.chair-money $100
				div.player3
					div.chair
						div.chair-name Person 3
						div.chair-money $100
				div.player4
					div.chair
						div.chair-name Person 4
						div.chair-money $100
				div.player5
					div.chair
						div.chair-name Person 5
						div.chair-money $100
				div.player6
					div.chair
						div.chair-name Person 6
						div.chair-money $100
			div.table
				div.board
					// Spade -> ♠️; Heart -> ❤️; Club -> ♣️; Diamond -> ♦️
					div.card
						p.card-text.black A
						p.card-img.black ♠️
					div.card
						p.card-text.black K
						p.card-img.red ❤️
					div.card
						p.card-text.black Q
						p.card-img.black ♣️
					div.card
						p.card-text.black J
						p.card-img.red ♦️
					div.card
						p.card-text.black 10
						p.card-img.red ♦️
		div.responses
					ul
						li
							button(type='submit') FOLD
						li
							button(type='submit') CHECK
						li 
							button(type='submit') CALL X
						li 
							button(type='submit') CALL ANY
						li
							button(type='submit') RAISE X
						li
							input(type='range' min="1" max="100" value="1")
	
