extends layout

block content

	div.navbar
		ul
			li
				a(href="/signup") Texas Hold 'em

	p Welcome #{username} to #{title}
	ul
		li
			a(href="/login") Log In
		br
		li
			a(href="/signup") Sign Up
		br
		li
			a(href="/lobby") Lobby Page
		//- br
		//- li
		//- 	a(href="/games/42") Game Page (with ID 42) (TBA)
