extends layout

block content
	h1=title
	p Welcome to #{title}
	ul
		li
			a(href="/users/login") Log In
		br
		li
			a(href="/users/signup") Sign Up
		br
		li
			a(href="/lobby") Lobby Page
		br
		li
			a(href="/games/42") Game Page (with ID 42) (TBA)
