extends layout

block content
	//- div.navbar
	//- 	ul
	//- 		li
	//- 			a Texas Hold 'em
	//- 		li 
	//- 			a(href="/users/login") Log In

	div.gamerooms
		section Welcome #{username}
			ul
				for val in rooms
					li 
						p Game Room #{val.id}
						p (0/8)
						a(href="api/games/#{val.id}") Join

	div.buttons
		article
			button
				a(href="games/create") Play Now
			button 
				a(href="games/create") Create room

