/* ---Lobby Page--- */
body {
	margin: 0px;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.navbar li {
	float: left;
	font-size: 24px;
}

.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: background-color 150ms ease-in-out;
}

.navbar li:last-child {
	float: right;
}

.navbar li a:hover {
	cursor: pointer;
	background-color: #111;
}

.gamerooms, .buttons {
	box-sizing: border-box;
}

.gamerooms {
	float: left;
	width: 75%;
	height: 600px;
	background: #ccc;
}

.gamerooms section {
	padding: 25px;
}

.gamerooms section:after {
	content: "";
	display: table;
	clear: both;
}

.buttons article {
	float: left;
	width: 25%;
	background-color: #f1f1f1;
	height: 600px;
	text-align: center;
}

.buttons button {
	background-color: #4eb572;
	border: 1px solid green;
	color: white;
	padding: 10px 24px;
	cursor: pointer;
	width: 50%;
	display: block;
	font-size: 24px;
	margin: 80px auto;
	transition: background-color 150ms ease-in-out;
}

.buttons button a {
	text-decoration: none;
	color: inherit;
}

.buttons button:hover {
	background-color: #88cda0;
}

.buttons button:first-child {
	margin-bottom: 2em;
}


/* ---AUTHENTICATION PAGES--- */
.authentication body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #111;
}


.authentication .form-group, h1, a {
	width: 100%;
	max-width: 500px;
	padding: 15px;
	margin: auto;
}

.authentication .form-group {
	background-color: #f1f1f1;
	padding-bottom: 0px;
}

.authentication .form-group:last-child {
	padding-bottom: 15px;
}

.authentication .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	font-size: 16px;
}

.authentication input[type=text], input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.authentication button[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.authentication button[type=submit]:hover {
  background-color: #45a049;
}